.instructions, .instructions p, .instructions ul {
    margin: 0;
    padding-bottom: 1em;
}
.instructions {
    padding-top: 1rem;
}

.help {
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
code {
    padding: 0 2px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}
li {
    line-height: 1.5;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}